.container-selector-city {
  .css-art2ul-ValueContainer2 {
    color: none;
  }
  .css-1dimb5e-singleValue {
    color: rgba(255, 255, 255, 0.736);
  }

  label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-bottom: 10px;
    
    h1 {
      color: rgba(0, 0, 0, 0.5);
      
    }
  }
}