.header-app {
  display: flex;
  align-items: center;
  background-color: #222;
  color: white;

  img {
    width: 50px;
  }
}

.footer-app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  color: white;

}